.item {
  display: flex;
  align-items: center;
}

.delete-btn {
  border: none;
  background-color: #e53d53;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 10px;
  height: 16px;
}

.delete-btn:hover {
  background-color: #e31f39;
}